In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("HW1-data.csv")

In [3]:
df

,User,"Gender (1 =F, 0=M)",260: Star Wars: Episode IV - A New Hope (1977),1210: Star Wars: Episode VI - Return of the Jedi (1983),356: Forrest Gump (1994),"318: Shawshank Redemption, The (1994)","593: Silence of the Lambs, The (1991)",3578: Gladiator (2000),1: Toy Story (1995),2028: Saving Private Ryan (1998),...,2396: Shakespeare in Love (1998),2916: Total Recall (1990),780: Independence Day (ID4) (1996),541: Blade Runner (1982),1265: Groundhog Day (1993),"2571: Matrix, The (1999)",527: Schindler's List (1993),"2762: Sixth Sense, The (1999)",1198: Raiders of the Lost Ark (1981),34: Babe (1995)
0,755,0,1.0,5.0,2.0,NaN,4.0,4.0,2.0,2.0,...,2.0,NaN,5.0,2.0,NaN,4.0,2.0,5.0,NaN,NaN
1,5277,0,5.0,3.0,NaN,2.0,4.0,2.0,1.0,NaN,...,3.0,2.0,2.0,NaN,2.0,NaN,5.0,1.0,3.0,NaN
2,1577,1,NaN,NaN,NaN,5.0,2.0,NaN,4.0,NaN,...,NaN,1.0,4.0,4.0,1.0,1.0,2.0,3.0,1.0,3.0
3,4388,0,NaN,3.0,NaN,NaN,NaN,1.0,2.0,3.0,...,NaN,4.0,1.0,3.0,5.0,NaN,5.0,1.0,1.0,2.0
4,1202,1,4.0,3.0,4.0,1.0,4.0,1.0,NaN,4.0,...,5.0,1.0,NaN,4.0,NaN,3.0,5.0,5.0,NaN,NaN
5,3823,1,2.0,4.0,4.0,4.0,NaN,NaN,3.0,1.0,...,5.0,2.0,4.0,NaN,1.0,NaN,NaN,3.0,NaN,2.0
6,5448,0,NaN,NaN,3.0,1.0,1.0,4.0,NaN,5.0,...,1.0,NaN,NaN,3.0,NaN,1.0,NaN,NaN,5.0,2.0
7,5347,0,4.0,NaN,NaN,NaN,3.0,2.0,2.0,NaN,...,NaN,2.0,3.0,2.0,4.0,NaN,1.0,3.0,5.0,NaN
8,4117,1,5.0,1.0,NaN,4.0,2.0,4.0,4.0,4.0,...,2.0,3.0,1.0,NaN,5.0,NaN,NaN,NaN,NaN,5.0
9,2765,0,4.0,2.0,NaN,5.0,3.0,NaN,4.0,3.0,...,NaN,NaN,2.0,NaN,NaN,2.0,5.0,1.0,NaN,NaN
10,5450,1,2.0,1.0,5.0,NaN,NaN,5.0,5.0,NaN,...,NaN,3.0,2.0,NaN,NaN,1.0,NaN,2.0,1.0,4.0
11,139,0,3.0,5.0,2.0,NaN,2.0,NaN,2.0,NaN,...,3.0,NaN,3.0,NaN,2.0,5.0,NaN,NaN,NaN,2.0
12,1940,0,2.0,3.0,NaN,5.0,4.0,NaN,4.0,5.0,...,NaN,2.0,4.0,NaN,3.0,NaN,NaN,NaN,5.0,NaN
13,3118,1,3.0,NaN,3.0,NaN,2.0,NaN,3.0,NaN,...,NaN,1.0,2.0,2.0,3.0,5.0,1.0,NaN,NaN,NaN
14,4656,1,4.0,4.0,NaN,NaN,5.0,5.0,2.0,NaN,...,NaN,1.0,3.0,NaN,2.0,NaN,3.0,NaN,3.0,1.0
15,4796,1,NaN,NaN,1.0,NaN,3.0,2.0,NaN,2.0,...,5.0,NaN,NaN,NaN,5.0,2.0,2.0,4.0,3.0,4.0
16,6037,0,NaN,NaN,NaN,NaN,4.0,NaN,2.0,NaN,...,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN
17,3048,1,4.0,5.0,1.0,5.0,1.0,1.0,4.0,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,2.0,1.0,2.0,5.0
18,4790,0,5.0,1.0,NaN,NaN,NaN,4.0,2.0,1.0,...,3.0,1.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
19,4489,0,1.0,2.0,2.0,4.0,5.0,NaN,2.0,3.0,...,1.0,NaN,NaN,5.0,5.0,4.0,3.0,5.0,3.0,NaN

# Mean Rating: 
Calculate the mean rating for each movie, order with the highest rating listed first, and submit the top three (along with the mean scores for the top two).

In [18]:
df.iloc[:,2:].mean(axis=0).sort_values(ascending=False)

318: Shawshank Redemption, The (1994)                      3.600000
260: Star Wars: Episode IV - A New Hope (1977)             3.266667
541: Blade Runner (1982)                                   3.222222
1265: Groundhog Day (1993)                                 3.166667
593: Silence of the Lambs, The (1991)                      3.062500
296: Pulp Fiction (1994)                                   3.000000
527: Schindler's List (1993)                               3.000000
1210: Star Wars: Episode VI - Return of the Jedi (1983)    3.000000
34: Babe (1995)                                            3.000000
2028: Saving Private Ryan (1998)                           3.000000
3578: Gladiator (2000)                                     2.916667
1198: Raiders of the Lost Ark (1981)                       2.909091
2396: Shakespeare in Love (1998)                           2.909091
2571: Matrix, The (1999)                                   2.833333
2762: Sixth Sense, The (1999)                              2.833333
1: Toy Story (1995)                                        2.823529
780: Independence Day (ID4) (1996)                         2.769231
356: Forrest Gump (1994)                                   2.700000
1259: Stand by Me (1986)                                   2.636364
2916: Total Recall (1990)                                  1.916667
dtype: float64

# Rating Count (popularity): 
Count the number of ratings for each movie, order with the most number of ratings first, and submit the top three (along with the counts for the top two).

In [23]:
df.iloc[:,2:].notna().sum(axis=0).sort_values(ascending=False)

1: Toy Story (1995)                                        17
593: Silence of the Lambs, The (1991)                      16
260: Star Wars: Episode IV - A New Hope (1977)             15
1210: Star Wars: Episode VI - Return of the Jedi (1983)    14
780: Independence Day (ID4) (1996)                         13
2762: Sixth Sense, The (1999)                              12
3578: Gladiator (2000)                                     12
527: Schindler's List (1993)                               12
2571: Matrix, The (1999)                                   12
1265: Groundhog Day (1993)                                 12
2916: Total Recall (1990)                                  12
1198: Raiders of the Lost Ark (1981)                       11
2396: Shakespeare in Love (1998)                           11
1259: Stand by Me (1986)                                   11
296: Pulp Fiction (1994)                                   11
2028: Saving Private Ryan (1998)                           11
318: Shawshank Redemption, The (1994)                      10
356: Forrest Gump (1994)                                   10
34: Babe (1995)                                            10
541: Blade Runner (1982)                                    9
dtype: int64

# % of ratings 4+ (liking): 
Calculate the percentage of ratings for each movie that are 4 or higher. Order with the highest percentage first, and submit the top three (along with the percentage for the top two).  Notice that the three different measures of "best" reflect different priorities and give different results; this should help you see why you need to be thoughtful about what metrics you use.

In [32]:
# & has has a higher operator precedence than ==, <, >, etc.

In [39]:
(((df>4) & df.notna()).sum(axis=0) / df.notna().sum(axis=0)).iloc[2:].sort_values(ascending=False)

318: Shawshank Redemption, The (1994)                      0.400000
527: Schindler's List (1993)                               0.333333
1265: Groundhog Day (1993)                                 0.333333
2396: Shakespeare in Love (1998)                           0.272727
1198: Raiders of the Lost Ark (1981)                       0.272727
2762: Sixth Sense, The (1999)                              0.250000
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.214286
260: Star Wars: Episode IV - A New Hope (1977)             0.200000
34: Babe (1995)                                            0.200000
2028: Saving Private Ryan (1998)                           0.181818
2571: Matrix, The (1999)                                   0.166667
3578: Gladiator (2000)                                     0.166667
593: Silence of the Lambs, The (1991)                      0.125000
541: Blade Runner (1982)                                   0.111111
356: Forrest Gump (1994)                                   0.100000
296: Pulp Fiction (1994)                                   0.090909
1259: Stand by Me (1986)                                   0.090909
780: Independence Day (ID4) (1996)                         0.076923
1: Toy Story (1995)                                        0.058824
2916: Total Recall (1990)                                  0.000000
dtype: float64

# Top movies for someone who has seen Toy Story: 
Calculate movies that most often occur with Movie #1:  Toy Story, using the (x+y)/x method described in class. In other words, for each movie, calculate the percentage of Toy Story raters who also rated that movie. Order with the highest percentage first, and submit the top 3 (along with the correlations for the top two).  Note, you will have ties -- to break the ties, use the lowest-numbered movie as the higher-ranked one.  In other words, if Movies 541 and 318 are tied, then 318 gets the higher rank.

In [77]:
X_1 = df['1: Toy Story (1995)'].notna().sum(axis=0)
XandY_1 = ((df.notna()) & (np.array(df['1: Toy Story (1995)'].notna())[:, None])).sum(axis=0)

In [78]:
X_1

17

In [79]:
XandY_1

User                                                       17
Gender (1 =F, 0=M)                                         17
260: Star Wars: Episode IV - A New Hope (1977)             14
1210: Star Wars: Episode VI - Return of the Jedi (1983)    13
356: Forrest Gump (1994)                                    7
318: Shawshank Redemption, The (1994)                       8
593: Silence of the Lambs, The (1991)                      13
3578: Gladiator (2000)                                      9
1: Toy Story (1995)                                        17
2028: Saving Private Ryan (1998)                            8
296: Pulp Fiction (1994)                                   10
1259: Stand by Me (1986)                                    9
2396: Shakespeare in Love (1998)                            8
2916: Total Recall (1990)                                  11
780: Independence Day (ID4) (1996)                         13
541: Blade Runner (1982)                                    7
1265: Groundhog Day (1993)                                 11
2571: Matrix, The (1999)                                    9
527: Schindler's List (1993)                               10
2762: Sixth Sense, The (1999)                              10
1198: Raiders of the Lost Ark (1981)                        9
34: Babe (1995)                                             8
dtype: int64

In [81]:
(XandY_1[2:] / X_1).sort_values(ascending=False)

1: Toy Story (1995)                                        1.000000
260: Star Wars: Episode IV - A New Hope (1977)             0.823529
593: Silence of the Lambs, The (1991)                      0.764706
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.764706
780: Independence Day (ID4) (1996)                         0.764706
1265: Groundhog Day (1993)                                 0.647059
2916: Total Recall (1990)                                  0.647059
2762: Sixth Sense, The (1999)                              0.588235
527: Schindler's List (1993)                               0.588235
296: Pulp Fiction (1994)                                   0.588235
1198: Raiders of the Lost Ark (1981)                       0.529412
3578: Gladiator (2000)                                     0.529412
1259: Stand by Me (1986)                                   0.529412
2571: Matrix, The (1999)                                   0.529412
2396: Shakespeare in Love (1998)                           0.470588
2028: Saving Private Ryan (1998)                           0.470588
318: Shawshank Redemption, The (1994)                      0.470588
34: Babe (1995)                                            0.470588
541: Blade Runner (1982)                                   0.411765
356: Forrest Gump (1994)                                   0.411765
dtype: float64

# Correlation with Toy Story:  
Calculate the correlation between the vectors of ratings for Toy Story and each other movie.  You can use the built-in CORREL() function.  Order by the highest correlation (positive only) and submit the top 3 along with the correlation values for the top 2.  Notice the differences between co-occurrence and correlation; these metrics are showing different types of relationships.

In [99]:
corrdf = pd.Series([df['1: Toy Story (1995)'].corr(df[col]) for col in df], index=df.columns)

In [101]:
corrdf[2:].sort_values(ascending=False)

1: Toy Story (1995)                                        1.000000
318: Shawshank Redemption, The (1994)                      0.888523
34: Babe (1995)                                            0.811107
296: Pulp Fiction (1994)                                   0.709842
2028: Saving Private Ryan (1998)                           0.596849
356: Forrest Gump (1994)                                   0.522913
541: Blade Runner (1982)                                   0.329634
3578: Gladiator (2000)                                     0.253396
2916: Total Recall (1990)                                  0.163796
2396: Shakespeare in Love (1998)                           0.101768
1265: Groundhog Day (1993)                                -0.062858
780: Independence Day (ID4) (1996)                        -0.069923
260: Star Wars: Episode IV - A New Hope (1977)            -0.119005
527: Schindler's List (1993)                              -0.220315
2762: Sixth Sense, The (1999)                             -0.245770
1198: Raiders of the Lost Ark (1981)                      -0.309067
1210: Star Wars: Episode VI - Return of the Jedi (1983)   -0.314504
593: Silence of the Lambs, The (1991)                     -0.568258
1259: Stand by Me (1986)                                  -0.610300
2571: Matrix, The (1999)                                  -0.721995
dtype: float64

# Mean rating difference by gender:  
First, recompute the mean rating for each movie separately for males and for females.  And calculate the overall mean rating (across all ratings) for males and females. Submit the two movies that have the greatest differences (one where men are most above women, and one where women are most above men) along with the differences in average.  Also submit the difference in overall rating averages (female average - male average).

In [108]:
df_m = df[df['Gender (1 =F, 0=M)'] == 0]

In [110]:
df_f = df[df['Gender (1 =F, 0=M)'] == 1]

In [114]:
df_m.iloc[:,2:].mean(axis=0)

260: Star Wars: Episode IV - A New Hope (1977)             3.125000
1210: Star Wars: Episode VI - Return of the Jedi (1983)    3.000000
356: Forrest Gump (1994)                                   2.250000
318: Shawshank Redemption, The (1994)                      3.400000
593: Silence of the Lambs, The (1991)                      3.333333
3578: Gladiator (2000)                                     2.833333
1: Toy Story (1995)                                        2.300000
2028: Saving Private Ryan (1998)                           3.142857
296: Pulp Fiction (1994)                                   2.625000
1259: Stand by Me (1986)                                   3.000000
2396: Shakespeare in Love (1998)                           2.142857
2916: Total Recall (1990)                                  2.200000
780: Independence Day (ID4) (1996)                         2.857143
541: Blade Runner (1982)                                   3.000000
1265: Groundhog Day (1993)                                 3.500000
2571: Matrix, The (1999)                                   3.142857
527: Schindler's List (1993)                               3.500000
2762: Sixth Sense, The (1999)                              2.666667
1198: Raiders of the Lost Ark (1981)                       3.666667
34: Babe (1995)                                            2.000000
dtype: float64

In [115]:
df_f.iloc[:,2:].mean(axis=0)

260: Star Wars: Episode IV - A New Hope (1977)             3.428571
1210: Star Wars: Episode VI - Return of the Jedi (1983)    3.000000
356: Forrest Gump (1994)                                   3.000000
318: Shawshank Redemption, The (1994)                      3.800000
593: Silence of the Lambs, The (1991)                      2.714286
3578: Gladiator (2000)                                     3.000000
1: Toy Story (1995)                                        3.571429
2028: Saving Private Ryan (1998)                           2.750000
296: Pulp Fiction (1994)                                   4.000000
1259: Stand by Me (1986)                                   2.428571
2396: Shakespeare in Love (1998)                           4.250000
2916: Total Recall (1990)                                  1.714286
780: Independence Day (ID4) (1996)                         2.666667
541: Blade Runner (1982)                                   3.500000
1265: Groundhog Day (1993)                                 2.833333
2571: Matrix, The (1999)                                   2.400000
527: Schindler's List (1993)                               2.500000
2762: Sixth Sense, The (1999)                              3.000000
1198: Raiders of the Lost Ark (1981)                       2.000000
34: Babe (1995)                                            3.428571
dtype: float64

In [117]:
overall_mean_m = df_m.iloc[:,2:].mean(axis=0).mean()
overall_mean_m

2.8842857142857143

In [118]:
overall_mean_f = df_f.iloc[:,2:].mean(axis=0).mean()
overall_mean_f

2.9992857142857146

In [123]:
(df_m.iloc[:,2:].mean(axis=0) - df_f.iloc[:,2:].mean(axis=0)).sort_values(ascending=False)

1198: Raiders of the Lost Ark (1981)                       1.666667
527: Schindler's List (1993)                               1.000000
2571: Matrix, The (1999)                                   0.742857
1265: Groundhog Day (1993)                                 0.666667
593: Silence of the Lambs, The (1991)                      0.619048
1259: Stand by Me (1986)                                   0.571429
2916: Total Recall (1990)                                  0.485714
2028: Saving Private Ryan (1998)                           0.392857
780: Independence Day (ID4) (1996)                         0.190476
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.000000
3578: Gladiator (2000)                                    -0.166667
260: Star Wars: Episode IV - A New Hope (1977)            -0.303571
2762: Sixth Sense, The (1999)                             -0.333333
318: Shawshank Redemption, The (1994)                     -0.400000
541: Blade Runner (1982)                                  -0.500000
356: Forrest Gump (1994)                                  -0.750000
1: Toy Story (1995)                                       -1.271429
296: Pulp Fiction (1994)                                  -1.375000
34: Babe (1995)                                           -1.428571
2396: Shakespeare in Love (1998)                          -2.107143
dtype: float64

In [124]:
overall_mean_f - overall_mean_m

0.11500000000000021

# Next, compute the % of ratings 4+ separately for males and females.  
You'll be asked to submit two movies as above (largest difference in each direction). And again you'll indicate whether men or women are more likely to rate movies 4 stars or above.

In [127]:
ratio_4_m = (((df_m>4) & df_m.notna()).sum(axis=0) / df_m.notna().sum(axis=0)).iloc[2:]
ratio_4_m

260: Star Wars: Episode IV - A New Hope (1977)             0.250000
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.250000
356: Forrest Gump (1994)                                   0.000000
318: Shawshank Redemption, The (1994)                      0.400000
593: Silence of the Lambs, The (1991)                      0.111111
3578: Gladiator (2000)                                     0.000000
1: Toy Story (1995)                                        0.000000
2028: Saving Private Ryan (1998)                           0.285714
296: Pulp Fiction (1994)                                   0.000000
1259: Stand by Me (1986)                                   0.000000
2396: Shakespeare in Love (1998)                           0.000000
2916: Total Recall (1990)                                  0.000000
780: Independence Day (ID4) (1996)                         0.142857
541: Blade Runner (1982)                                   0.200000
1265: Groundhog Day (1993)                                 0.333333
2571: Matrix, The (1999)                                   0.142857
527: Schindler's List (1993)                               0.500000
2762: Sixth Sense, The (1999)                              0.333333
1198: Raiders of the Lost Ark (1981)                       0.500000
34: Babe (1995)                                            0.000000
dtype: float64

In [128]:
ratio_4_f = (((df_f>4) & df_f.notna()).sum(axis=0) / df_f.notna().sum(axis=0)).iloc[2:]
ratio_4_f

260: Star Wars: Episode IV - A New Hope (1977)             0.142857
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.166667
356: Forrest Gump (1994)                                   0.166667
318: Shawshank Redemption, The (1994)                      0.400000
593: Silence of the Lambs, The (1991)                      0.142857
3578: Gladiator (2000)                                     0.333333
1: Toy Story (1995)                                        0.142857
2028: Saving Private Ryan (1998)                           0.000000
296: Pulp Fiction (1994)                                   0.333333
1259: Stand by Me (1986)                                   0.142857
2396: Shakespeare in Love (1998)                           0.750000
2916: Total Recall (1990)                                  0.000000
780: Independence Day (ID4) (1996)                         0.000000
541: Blade Runner (1982)                                   0.000000
1265: Groundhog Day (1993)                                 0.333333
2571: Matrix, The (1999)                                   0.200000
527: Schindler's List (1993)                               0.166667
2762: Sixth Sense, The (1999)                              0.166667
1198: Raiders of the Lost Ark (1981)                       0.000000
34: Babe (1995)                                            0.285714
dtype: float64

In [129]:
(ratio_4_m - ratio_4_f).sort_values(ascending=False)

1198: Raiders of the Lost Ark (1981)                       0.500000
527: Schindler's List (1993)                               0.333333
2028: Saving Private Ryan (1998)                           0.285714
541: Blade Runner (1982)                                   0.200000
2762: Sixth Sense, The (1999)                              0.166667
780: Independence Day (ID4) (1996)                         0.142857
260: Star Wars: Episode IV - A New Hope (1977)             0.107143
1210: Star Wars: Episode VI - Return of the Jedi (1983)    0.083333
318: Shawshank Redemption, The (1994)                      0.000000
2916: Total Recall (1990)                                  0.000000
1265: Groundhog Day (1993)                                 0.000000
593: Silence of the Lambs, The (1991)                     -0.031746
2571: Matrix, The (1999)                                  -0.057143
1: Toy Story (1995)                                       -0.142857
1259: Stand by Me (1986)                                  -0.142857
356: Forrest Gump (1994)                                  -0.166667
34: Babe (1995)                                           -0.285714
296: Pulp Fiction (1994)                                  -0.333333
3578: Gladiator (2000)                                    -0.333333
2396: Shakespeare in Love (1998)                          -0.750000
dtype: float64